% 포맷팅

In [10]:
name = "홍길동"
age = 30
text = "이름: %s, 나이: %d세" % (name, age)
print(text)

이름: 홍길동, 나이: 30세

문자열.format() 메서드

In [11]:
name = "김철수"
age = 28
text = "이름: {}, 나이: {}세".format(name, age)
print(text)

이름: 김철수, 나이: 28세

f-string

In [9]:
name = "이영희"
age = 22
text = f"이름: {name}, 나이: {age}세"
print(text)

이름: 이영희, 나이: 22세